.navbar-custom {
  background-color: #212529;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand-custom {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
}

.navbar-title {
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 20px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-title-link,
.navbar-custom .nav-link-custom {
  color: #fff;
  text-decoration: none;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-title-link:hover,
.navbar-custom .nav-link-custom:hover {
  color: red;
}

.navbar-custom .nav-link-custom {
  margin-right: 15px;
}

.navbar-custom .nav-link-custom.active {
  color: red;
}

@media (max-width: 768px) {
  .navbar-title {
    visibility: hidden;
    left: auto;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-links {
    justify-content: center;
  }

  .navbar-custom .nav-link-custom {
    color: #fff;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
}
